/* latin-ext */
@font-face {
  font-family: KornucopiaPL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://github.com/fafikmaly/KornucopiaPL/blob/main/KornucopiaPL.woff2") format('woff2');
  unicode-range: U+0000-FFFD;
}
/* latin */
@font-face {
  font-family: 'KornucopiaPL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://github.com/fafikmaly/KornucopiaPL/blob/main/KornucopiaPL.woff2") format('woff2');
  unicode-range: U+0000-FFFD;
}
